<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Restaurants</h1>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>"Will Split" Votes</th>
        <th>"Won't Split" Votes</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td>
            <a href=<%= restaurant_path(restaurant) %>><%= restaurant.name %></a>
          </td>
          <td><%= restaurant.location %></td>
          <td>
            <%= restaurant.will_split_votes %>
            <%= button_to 'Vote "Will Split"', restaurants_path, { class: 'will-split-button' } %>
          </td>
          <td>
            <%= restaurant.will_not_split_votes %>
            <%= button_to 'Vote "Won\'t Split"', restaurants_path, { class: 'wont-split-button' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<section>
  <h2>Find a Restaurant</h2>

  <%= form_with id: 'search_form', url: '/search' do |form| %>
    <div class="form_group">
      <%= form.label :query_name, 'Name:' %>
      <%= form.text_field :query_name %>
    </div>

    <div class="form_group">
      <%= form.label :query_location, 'Location:' %>
      <%= form.text_field :query_location %>
    </div>

    <%= form.submit 'Search' %>
  <% end %>
</section>

<section>
  Is a restaurant missing from this list?
  <%= button_to 'Add a Restaurant', new_restaurant_path, method: 'get' %>
</section>
