<%= render "login_status" %>

<h1>Restaurant Details</h1>

<section class="card" id="show-card">
  <h2><%= @restaurant.name %></h2>

  <p>Located in: <%= @restaurant.location %></p>

  <p>
    <%= @restaurant.get_will_split_votes %>
    <%= @restaurant.get_will_split_votes() == 1 ? 'person says' : 'people say' %>
    <%= @restaurant.name %>
    will split the check.
  </p>

  <p>
    <%= @restaurant.get_will_not_split_votes %>
    <%= @restaurant.get_will_not_split_votes() == 1 ? 'person says' : 'people say' %>
    <%= @restaurant.name %>
    won't split the check.
  </p>
</section>

<p>
  Something wrong with this restaurant's details?
  <% if user_signed_in? %>
    <%= link_to 'Edit this Restaurant', edit_restaurant_path(@restaurant) %>
  <% else %>
    Please login to edit.
  <% end %>
</p>

<%= button_to 'Return to Restaurants List', restaurants_path, method: 'get' %>
