<%= render "login_status" %>

<h1>Restaurant Details</h1>

<section class="card" id="show-card">
  <h2><%= @restaurant.name %></h2>

  <p>Located in: <%= @restaurant.location %></p>

  <p>
    <%= @restaurant.get_will_split_votes %>
    <%= @restaurant.get_will_split_votes() == 1 ? 'person says' : 'people say' %>
    <%= @restaurant.name %>
    will split the check.
  </p>

  <p>
    <%= @restaurant.get_will_not_split_votes %>
    <%= @restaurant.get_will_not_split_votes() == 1 ? 'person says' : 'people say' %>
    <%= @restaurant.name %>
    won't split the check.
  </p>

  <!-- Because textareas don't expect output, everyting needs to be on one line to show correctly... -->
  <h2>Comments</h2>
  <textarea readonly id="comments-output-box"><% @restaurant.comments.each do |comment| %><%= "#{comment}\n" %><% end %></textarea>
  <%= button_to 'Add Comment', new_comment_path, params: {user_id: current_user, restaurant_id: @restaurant}, method: :get %>
</section>

<p>
  Something wrong with this restaurant's details?
  <% if user_signed_in? %>
    <%= link_to 'Edit this Restaurant', edit_restaurant_path(@restaurant) %>
  <% else %>
    Please login to edit.
  <% end %>
</p>

<%= button_to 'Return to Restaurants List', restaurants_path, method: 'get' %>
