<!DOCTYPE html>
<html>
  <head>
    <title>Split the Check</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">
        <%= image_tag("Banner.png") %>
      </a>

      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
    <header>

    <aside id="user-status">
      <% if user_signed_in? %>
        <div>
          Logged-in as: <%= link_to current_user.username, user_path %><br />
          Not you? <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div>
          <%= link_to 'Login', new_user_session_path %> |
          <%= link_to 'Register', new_user_registration_path %>
        </div>
      <% end %>
    </aside>

    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </body>
</html>
